<!-- <html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <h1>Hello world!</h1>
        <p>We can build a full webpage here</p>
        <form>
            <input type="text" name="nickname" placeholder="Enter your nickname"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html> -->

{% extends 'base.html'%}

{% block title%}Homepage{% endblock %}

{% block content%}
<br>
<form class= "form-inline" style="text-align:center inline-block;">

<div class="container input-group">
<select class="form-control  mb-2 mr-sm-2 form-control-lg col col-lg-12" placeholder= "Select Your Console">
  <option>PS4</option>
  <option>XBox One</option>
  <option>Nintendo Switch</option>
</select>
</div>

<div class="container">

<select class="form-control  mb-2 mr-sm-2 form-control-lg col col-lg-12" placeholder="Select Your Genre">
  <option>Action</option>
  <option>First Person Shooter</option>
  <option>Indie</option>
  <option>RPG</option>
  <option>Racing</option>
  <option>Simulator</option>
</select>

<button type="submit" class="btn btn-primary mb-2">Submit</button>

</form>

<div class="container">
<select class="form-control form-control-lg col col-lg-6">
  <option>PS4</option>
  <option>XBox One</option>
  <option>Nintendo Switch</option>
</select>
</div>

<div class="container">

<select class="form-control form-control-lg col col-lg-6">
  <option>Action</option>
  <option>First Person Shooter</option>
  <option>Indie</option>
  <option>RPG</option>
  <option>Racing</option>
  <option>Simulator</option>
</select>

{% endblock %}
